extends ../../layout

block title
  | Edit book: #{ title }

block content
  div.col-md-12
    div.card.mb-4
      div.card-body
        form(method="POST" action=`/books/${ _id }` accept-charset="UTF-8")
          input(name="_method" type="hidden" value="PATCH")

          label.grey-text Title*
          input.form-control(type="text" name="title" maxlength="100" value=`${ title }`)
          br
          label.grey-text Description*
          textarea.form-control(name="description" maxlength="300" rows="4")=description
          br
          label.grey-text Link to image*
          input.form-control(type="url" name="image" value=`${ image }`)

          div.text-center.mt-4
            button.btn.btn-primary.btn-md.waves-effect.waves-light(type="submit") Update
            a.btn.btn-danger.btn-md.waves-effect.waves-light(href=`/books/${ _id }`) Cancel